body {
  background: #ffffff;
  padding: 20px;
  display: flex;
  justify-content: center;
  font-family: Arial, sans-serif;
}

.container {
  background: #000000;
  padding: 20px;
  width: 600px;
  border-radius: 8px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
  gap: 20px;
}

.item {
  background: rgb(52, 116, 227);
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  border-radius: 6px;
}

.a {
  grid-column: 1 / 4;
}

.b {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
}

.c {
  grid-column: 2 / 3;
  grid-row: 2;
}

.d {
  grid-column: 3 / 4;
  grid-row: 2;
}

.e {
  grid-column: 2 / 4;
  grid-row: 3;
}

.f {
  grid-column: 1 / 4;
  grid-row: 4;
}